.stand {
  width: 100%;
  padding-right: 204px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
